
  .menu {
    position: fixed;
    background-color: #4C36DE;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    .nav-link{
      color: #ffffff;
      font-family: 'Titillium Web', sans-serif;
      font-size: 25px; 
      padding: 0 20px;
      position: relative;
    }
  }
  
  .nav {
    justify-content: center;
    height: 70px;
    padding-top: 20px;
    
  }
  
  