<app-header></app-header>
<router-outlet></router-outlet>
<div>
    <div class="cuerpo">
        <div id="contenido1" style="background-color:#4C36DE; height: 900px;">
            <div class="container container-flex" style="background-color: #43755d; height: 900px;">
            </div>
        </div>
        <div id="contenido2" style="background-color:#43755d; height: 900px;">
            <div class="container container-flex" style="background-color: #2b28d4; height: 900px;">
            </div>
        </div>
        <div id="contenido3" style="background-color:#4C36DE; height: 900px;">
            <div class="container container-flex" style="background-color: #43755d; height: 900px;">
            </div>
        </div>
    </div>
    
</div>


